.chat-container__list-room {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.list-room__header {
  align-items: center;
  color: #1d84ff;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.list-room__search {
  align-items: center;
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  padding: 5px 15px;
  text-align: center;
}

.list-room__search > .search-icon {
  color: #9a9494;
}

.list-room__search .MuiInputBase-input:focus {
  font-style: italic;
}
